appdirs==1.4.4
asgiref==3.3.1
distlib==0.3.1
Django==3.1.7
django-pandas==0.6.4
django-tables2==2.3.4
et-xmlfile==1.0.1
filelock==3.0.12
flake8==3.8.4
Inflector==3.0.1
jdcal==1.4.1
mccabe==0.6.1
mysqlclient==2.0.3
numpy==1.20.3
openpyxl==3.0.6
#pandas==1.2.3
#psycopg2==2.8.6
pycodestyle==2.6.0
pyflakes==2.2.0
python-dateutil==2.8.1
pytz==2021.1
six==1.15.0
sqlparse==0.4.1
#virtualenv==20.4.2
xlrd==2.0.1
gunicorn==20.1.0
