{% extends "base.html" %}
{% block content %}
	<div class="row justify-content-center">
		<a class="btn bg-info col-2" href="?{{ prev_month }}"><span class="h3"><<</span></a>
		<div class="col-sm-3"><p class="h2 ack text-center">{{ curr_month }}</p></div>
		<a class="btn bg-info col-2" href="?{{ next_month }}"><span class="h3">>></span></a>
	</div>
	<div class="row justify-content-center">
		<div class="col-sm-2"><p class="bg-warning text-center">Watch Not Ack'd</p></div>
		<div class="col-sm-2"><p class="bg-danger text-center">Sailor Not Qual'd</p></div>
		<div class="col-sm-2"><p>* Swapped</p></div>
	</div>
{{ calendar }}
{% if request.user.is_authenticated %}
	{{ sailors }} 
{% endif %}
<a href="{{ slack_url }}">Slack Channel Invite</a>
<!--{% include 'sailors.html' %}-->
{% endblock content %}
