{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<a class="btn btn-info col" href="{% url 'quickview' %}?{{ prev_month }}"> Previous Month </a>
		<div class="ack btn col"><span class="float-center">Watch Acknowledged</span></div>
		<div class="no_qual btn col"><span class='float-center'>Sailor Not Qual'd</span></div>
		<a class="btn btn-info col" href="{% url 'quickview' %}?{{ next_month }}"> Next Month </a>
	</div>
	<div class="row">
		{{ calendar }}
	</div>
</div>
{% endblock content %}
