{% extends "base.html" %}

{% block content %}
{% for watch in watches %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'recall/css/styles.css' %}">
    <div class='recall'>
        <!-- <h1>Duty Day: {{ dutyday }}</h1> -->
            <div class='name'>{{ watch.position }} : {{ watch.stander.name }}</div>
            <div class='phone'>{{ watch.stander.phone }} {% if watch.acknowledged %} <span class='ack'>Acknowledged</span> {% endif %}</div>
            <div class='note'> This is a friendly reminder that you have {{ watch.position.qual }} {{ watch.position.label }} watch, {{ watch.day }}.</div>
    </div>
{% endfor %}
{% endblock %}
